:root{
    --bg-color: #0A0C1C;
    --card-bg-color: #1B1937;
    --purple: #AB5CDB;
    --font-color: #FFFFFF;
    --font-inter: 'Inter', sans-serif;
    --font-lexend-deca:'Lexend Deca', sans-serif;
}